body{
background:#2b1e16;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.station{text-align:center;}

.cup{
width:120px;
height:140px;
border-radius:0 0 60px 60px;
background:#ddd;
margin:20px auto;
position:relative;
overflow:hidden;
}
